In [1]:
import statistics
li=[1,2,3,3,2,2,2,1]
print("the average of list values is:",end="")
print(statistics.mean(li))

the average of list values is:2

In [5]:
from statistics import median
from fractions import Fraction as fr
data1=(2,3,4,5,7,9,11)
data2=(2.4,5.1,6.7,8.9)
data3=(fr(1,2),fr(44,12),fr(10,3),fr(2,3))
data4=(-5,-1,-12,-19,-3)
data5=(-1,-2,-3,-4,4,3,2,1)
print("median of data-set 1 is % s"%(median(data1)))
print("median of data-set 2 is % s"%(median(data2)))
print("median of data-set 3 is % s"%(median(data3)))
print("median of data-set 4 is % s"%(median(data4)))
print("median of data-set 5 is % s"%(median(data5)))

median of data-set 1 is 5
median of data-set 2 is 5.9
median of data-set 3 is 2
median of data-set 4 is -5
median of data-set 5 is 0.0

In [21]:
from statistics import mode
from fractions import Fraction as fr
data1=(2,3,3,4,5,5,5,5,6,6,6,7)
data2=(2.4,1.3,1.3,1.3,2.4,4.6)
data3=(fr(1,2),fr(1,2),fr(10,3),fr(2,3))
data4=(-1,-2,-2,-2,-7,-7,-9)
data5=("red","blue","black","Blue","black","black","brown")
data6=(2,2,2,3,3,3)
print("mode of data-set 1 is % s"%(mode(data1)))
print("mode of data-set 2 is % s"%(mode(data2)))
print("mode of data-set 3 is % s"%(mode(data3)))
print("mode of data-set 4 is % s"%(mode(data4)))
print("mode of data-set 5 is % s"%(mode(data5)))
print("mode of data-set 6 is % s"%(mode(data6)))

mode of data-set 1 is 5
mode of data-set 2 is 1.3
mode of data-set 3 is 1/2
mode of data-set 4 is -2
mode of data-set 5 is black
mode of data-set 6 is 2

In [9]:
arr=[1,2,3,4,5]
Maximum=max(arr)
Minimum=min(arr)
Range=Maximum-Minimum
print("Maximum={} ,Minimum={} and Range={}".format(Maximum,Minimum,Range))

Maximum=5 ,Minimum=1 and Range=4

In [18]:
from statistics import variance
from fractions import Fraction as fr
sample1=(1,2,5,4,8,9,12)
sample2=(-2,-4-3,-1,-5,-6)
sample3=(-9,-1,-0,2,1,3,4,19)
sample4=(fr(1,2),fr(2,3),fr(3,4),fr(5,6),fr(7,8))
sample5=(1.23,1.45,2.1,2.2,1.9)
print("Variance of sample1 is %s "%(variance(sample1)))
print("Variance of sample2 is %s "%(variance(sample2)))
print("Variance of sample3 is %s "%(variance(sample3)))
print("Variance of sample4 is %s "%(variance(sample4)))
print("Variance of sample5 is %s "%(variance(sample5)))

Variance of sample1 is 15.80952380952381
Variance of sample2 is 6.7
Variance of sample3 is 61.125
Variance of sample4 is 1/45
Variance of sample5 is 0.17613000000000006

In [20]:
from statistics import stdev
from fractions import Fraction as fr
sample1=(1,2,5,4,8,9,12)
sample2=(-2,-4-3,-1,-5,-6)
sample3=(-9,-1,-0,2,1,3,4,19)
sample4=(1.23,1.45,2.1,2.2,1.9)
print("the standerd deviation of sample1 is %s "%(stdev(sample1)))
print("the standerd deviation of sample2 is %s "%(stdev(sample2)))
print("the standerd deviation of sample3 is %s "%(stdev(sample3)))
print("the standerd deviation of sample4 is %s "%(stdev(sample4)))

the standerd deviation of sample1 is 3.9761191895520196
the standerd deviation of sample2 is 2.588435821108957
the standerd deviation of sample3 is 7.8182478855559445
the standerd deviation of sample4 is 0.41967844833872525

In [15]:
from scipy import stats
y=[1,2,3,4,5]
result = scipy.stats.describe(y, ddof=1, bias=False)
result

DescribeResult(nobs=5, minmax=(1, 5), mean=3.0, variance=2.5, skewness=0.0, kurtosis=-1.2000000000000004)

In [23]:
result.nobs

5

In [24]:
result.minmax[0] # Min

1

In [25]:
result.minmax[1] # Max

5

In [26]:
 result.mean

3.0

In [27]:
result.variance

2.5

In [28]:
result.skewness

0.0

In [29]:
result.kurtosis

-1.2000000000000004

In [40]:
import pandas as pd
z=[1,2,3,4,5]
df=pd.DataFrame(z)
result = df.describe()
result

              0
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000

In [42]:
result.loc['mean']

0    3.0
Name: mean, dtype: float64

In [43]:
result.loc['std']

0    1.581139
Name: std, dtype: float64

In [44]:
result.loc['min']

0    1.0
Name: min, dtype: float64

In [45]:
result.loc['max']

0    5.0
Name: max, dtype: float64

In [46]:
result.loc['25%']

0    2.0
Name: 25%, dtype: float64

In [47]:
result.loc['50%']

0    3.0
Name: 50%, dtype: float64

In [48]:
result.loc['75%']

0    4.0
Name: 75%, dtype: float64

In [49]:
result.loc['max']

0    5.0
Name: max, dtype: float64

In [69]:
import numpy as np
import pandas as pd
x = list(range(-10, 11))
y = [0, 2, 2, 2, 2, 3, 3, 6, 7, 4, 7, 6, 6, 9, 4, 5,14, 5, 10, 11, 12]
x_, y_ = np.array(x), np.array(y)
x__, y__ =pd.Series(x_), pd.Series(y_)
x__
y__

0      0
1      2
2      2
3      2
4      2
5      3
6      3
7      6
8      7
9      4
10     7
11     6
12     6
13     9
14     4
15     5
16    14
17     5
18    10
19    11
20    12
dtype: int32

In [69]:
import numpy as np
import pandas as pd
x = list(range(-10, 11))
y = [0, 2, 2, 2, 2, 3, 3, 6, 7, 4, 7, 6, 6, 9, 4, 5,14, 5, 10, 11, 12]
x_, y_ = np.array(x), np.array(y)
x__, y__ =pd.Series(x_), pd.Series(y_)
x__
y__

0      0
1      2
2      2
3      2
4      2
5      3
6      3
7      6
8      7
9      4
10     7
11     6
12     6
13     9
14     4
15     5
16    14
17     5
18    10
19    11
20    12
dtype: int32

In [71]:
n = len(x)
mean_x, mean_y = sum(x) / n, sum(y) / n
cov_xy = (sum((x[k] - mean_x) * (y[k] - mean_y) for k in range(n))/ (n - 1))
cov_xy

19.049999999999997

In [73]:
cov_matrix = np.cov(x_, y_)
cov_matrix

array([[38.5       , 19.05      ],
       [19.05      , 13.91428571]])